.category {
    padding-top: 20px;
    
}


.category__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #E7E5EA;
    margin-bottom: 10px;

}

.category__heading {
    color: #2D3958;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 155.556%;

}

.category__icon {
    font-size: 14px;
    color: #888682;
    padding: 6px;

}

.category__icon:hover {
    cursor: pointer;
    color: #4F77FF;

}


.category__list {
    list-style: none;
    padding-left: 0;

}

.category__item {
    color: #333;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    padding: 10px 0;

}

.category__show {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.category__check {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

}

.category__input {

}

.category__input:hover {
    cursor: pointer;
    
}


.category__sub {
    list-style: none;
    // padding-left: 0;

}


.category__sub-item {
    color: #7B88A8;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.category__sub-item:first-child {
    padding-top: 20px;

}