// Tablet and Mobile menu
.filter-mo{
    display: block;
    
    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {

    }
        
    @media (min-width: 768px) {
            
    }
        
    @media (min-width: 992px) {
        display: none;
            
    }

}

.filter-mo__bars-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #2D3958;
    width: 88px;
    cursor: pointer;
    transition: all 0.4s;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {

    }
        
    @media (min-width: 768px) {
            
    }
        
    @media (min-width: 992px) {
        display: none;
            
    }

}

.filter-mo__bars-input:hover {
    color: #4F77FF;

}

.filter-mo__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;

    // thêm keyframes vào. ở dưới viết hàm keyframes thì keyframes sẽ thêm vào classs chính 
    animation: fadeIn linear 0.2s;

}

.filter-mo__description {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    z-index: 4;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
    overflow-y: scroll;
    padding: 10px;

}

.filter-mo__button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 15px;

}




.filter-mo__close {
    font-size: 24px;
    color: #7B88A8;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;

}

.filter-mo__close i:hover {
    color: #34373f;

}

.filter-mo__list {
    margin: 50px 0px;

}

.filter-mo__item {
    list-style: none;

}

.filter-mo__link {
    text-decoration: none;
    color: #7B88A8;
    display: block;
    padding: 8px 0px;
    font-size: 20px;
    transition: all 0.2s;

}

.filter-mo__link:hover {
    color: #85a0fa;

}

.filter-mo__active .filter-mo__link{
    color: #4F77FF;

}

.filter-mo__input:checked ~  .filter-mo__overlay{
    display: block;

}

.filter-mo__input:checked ~  .filter-mo__description{
    transform: translateX(0%);
    opacity: 1;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
