.get-help {
    background-image: url(../../../assets/img/img_background-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;

}



.get-help__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 106px 30px 106px 30px;

}

.get-help__heading {
    color: $text-heading;
    font-size: 30px;
    line-height: 116%;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
    font-family: Outfit;

    @media (max-width: 575px) {
        
    }
        
    @media (min-width: 575px) {
        font-size: 40px;
            
    }
        
    @media (min-width: 768px) {
        font-size: 48px;
      
    }
        
    @media (min-width: 992px) {
        width: 870px;
    
    }

}

.get-help__description {
    color: $text-text;
    text-align: center;
    font-family: Outfit;
    font-weight: 400;
    line-height: 145.455%;
    font-size: 16px;
    
    @media (max-width: 575px) {
        
    }
    
    @media (min-width: 575px) {
        font-size: 18px;
        
    }
    
    @media (min-width: 768px) {
        font-size: 22px;
      
    }
        
    @media (min-width: 992px) {
        width: 870px;

    }

}

.get-help__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;

}

.get-help__chat-now {  
    height: 48px;
    padding: 13px 24px;   
    border-radius: 5px;
    background-color:  #4F77FF;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 171.429%;
    text-transform: uppercase;
    transition: all 0.3s;

}

.get-help__chat-now:hover {
    cursor: pointer;
    background-color: #85a0fa;

}
