.our-shop {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);

}

.our-shop__heading {
    width: 870px;
    color: $text-heading;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 116.667%;
    padding-bottom: 30px;

}

.our-shop__description {
    width: 870px;
    height: 18px;
    color: $text-heading;
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;

}

.our-shop__description--color {
    color: $text-text;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;

}
