.price {
    padding-top: 40px;

}


.price__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #E7E5EA;
    margin-bottom: 10px;

}

.price__heading {
    color: #2D3958;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 155.556%;

}

.price__icon {
    font-size: 14px;
    color: #888682;
    padding: 6px;

}

.price__icon:hover {
    cursor: pointer;
    color: #4F77FF;

}


.price__range {
    width: 100%;
    padding-top: 5px;
    margin-top: 15px;
    padding-bottom: 5px;
}

.price__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;

}

.price__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888682;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 171.429%;
    text-transform: uppercase;
    padding: 20px 0 30px 0;

}

.price__filter {
    color: #4F77FF;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 171.429%;
    text-transform: uppercase;
    background-color: #fff;
    outline: none;
    border: none;
    padding: 6px;

}

.price__filter:hover {
    color: #85a0fa;
    cursor: pointer;
}
